<!DOCTYPE html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>sc-enter</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/index.css" />

    <!-- Scripts -->
    <script src="/components/angular/angular.js"></script>
    <script src="/enter/enter.js"></script>

    <!-- Demo files -->
    <script src="/enter/demo.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <div class="page-header">
        <h1>
          sc-components
          <a class="pull-right" href="/">back</a>
        </h1>
      </div>
      <p class="lead">
        Enter component <code>&lt;sc-enter&gt;</code>
      </p>

      <div ng-app="sc-enter-demo">
        <p>Hit the enter key</p>
        <div class="row" ng-controller="DemoCtrl">

          <!-- Start -->
          <div class="col-md-3">
            <input sc-enter="record()" type="text" ng-model="term" class="form-control" autofocus>
          </div>
          <!-- End -->

          <div class="col-md-9" ng-if="count">
            You pressed enter {{ count }} times
          </div>
        </div>
      </div>

    </div>

    <div class="footer">
      <div class="container">
        <p class="text-muted">MIT</p>
      </div>
    </div>
  </body>
</html>
