
.sc-dropdown.dropdown-menu {
  padding-top: 0;
  min-width: 200px;
  margin-left: 10px;
  border-radius: 0;
}

.sc-dropdown.dropdown-menu > .sc-dropdown-header {
  padding: 5px 20px;
  background: #eee;
  /*background: @dropdown-header-bg;*/
}

.sc-dropdown.dropdown-menu > .sc-dropdown-header a {
  color: #ccc;
  font-weight: bold;
  text-decoration: none;
}

.sc-dropdown.dropdown-menu > .sc-dropdown-header a:hover {
  color: #aaa;
  text-decoration: none;
}

.sc-dropdown.dropdown-menu ul {
  list-style: none;
  padding: 5px 0;
  margin: 2px 0 0;
}

.sc-dropdown.dropdown-menu ul > li {
  list-style-type: none;
}

.sc-dropdown.dropdown-menu ul > li > a:before {
  content: "  ";
  display: inline-block;
  width: 20px;
}

.sc-dropdown.dropdown-menu ul > li.active > a:before {
  font-family: 'FontAwesome';
  content: "\f00c ";
  color: #333;
  font-size: 12px;
}

.sc-dropdown.dropdown-menu ul > li > a {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  /*line-height: @line-height-base;
  color: @dropdown-link-color;*/
  white-space: nowrap;
}

.sc-dropdown.dropdown-menu ul > li > a:hover,
.sc-dropdown.dropdown-menu ul > li > a:focus {
  text-decoration: none;
  /*color: @dropdown-link-hover-color;
  background-color: @dropdown-link-hover-bg;*/
}
